@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
:root{
    --primary-color:black;
    --secondary-color: white;
    --tertiary-color: gray;
}

body{
    background-color: var(--primary-color);
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

#container{
    height: 430px;
    width: 360px;
    margin: 100px auto;
    background:	#cacaca;
    box-shadow: 5px 10px 5px;
    border-radius: 20px;
    height: auto !important;
    padding-bottom: 1rem;
}

.title{
    background: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.form{
    padding: 0 20px;
}
.forminput{
    background: white;
    width: 40px;
    padding: 5px;
    margin: 0px 10px;
}

.forminput:focus{
    border: 3px solid var(--tertiary-color);
    outline: none;
}

.formselect{
    width: 180px;
    padding: 5px;
    font-size: 12px;
}

.formsubmit{
    text-decoration: uppercase;
    font-weight: bold;
    display: black;
    margin: center 30px;
    background-color: var(--primary-color);
    border-radius: 5px;
    width: 315px;
    height: 37px;
    font-size: 17px;
    color: white;
}

#totalgorjeta{
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
}

#totalgorjeta {
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }
  
  #cada {
    margin-left: 5px;
  }
  
  #cada:first-letter {
    text-transform: lowercase; 
  }

  body {
    display: flex;
    align-content: center;
    margin: auto;
    height: 100vh!important;
    overflow: none!important;;
  }
  
  .title {
    margin: 0;
     margin: auto;
  }
  
  #container {
    height: auto;
    margin: auto;
    padding-bottom: 2rem;
  }
  
  .formsubmit {
    width: 100%;
  }
  
  @media (max-width: 390px) {
    #container {
      width: 90%!important;
    }
  }